






<br>
<br>
<%= link_to 'Return', game_invitations_path %>

<hr>
<div>
user password: <%= @user_password %>  <br>
invitation ID: <%= @invitation_id %> <br>
game Password: <%= @accepted_invitation.game_password %>  <br>
</div>
    


