<h1>New Character</h1>

<%= render 'create_form' %>

<%= link_to 'View Characters', player_characters_path, class: "btn btn-default" %>

<script type="text/javascript">

$("#player_character_background").change(function(){
    var background = this.options[this.selectedIndex].value;
    alert(background);
	}
);

var request =  $.ajax({
    	type: "POST",
    	url: "/player_characters.json",
    	dataType: "json",
    	success: function(data, httpStatus, xmlHttpObj){
    		
    	},
    	error: function(xmlHttpObj, httpStatus,errMsg){
    		console.log("Oops!!" + httpStatus + ":" + errMsg);
    	}
    });

</script>