<h1>New Character</h1>

<%= render 'create_form' %>

<%= link_to 'View Characters', player_characters_path, class: "btn btn-default" %>

<script type="text/javascript">

$("#player_character_background").change(function(){
    var background = this.options[this.selectedIndex].value;
    alert(background);
    var traits =  <%= personalityTraits5EFor(@player_character.background) %>;
    alert(traits);
    ("#player_character_personalityTraits").options = traits;
    
});

</script>