
<html>
<head>
  <title>D&D5 | Invited Games View Page</title>
</head>

<body>
<br>
  <h1>Invited Games</h1>
  <h2>              </h2>
<br>
<br>
<br>  
<table border="1" style="width:100%"> 
	<tr>
		<td align="center" ><b>Games Name</b></td> 
		<td align="center" ><b>Dungeon Master</b></td> 
		<td align="center" ><b>Game Pass Key</b></td> 
		<td colspan="2" align="center" ><b>Action</b></td>
	</tr>
	
	<tr>
		<td align="center" > Game1 </td> 
		<td align="center" > Nurmohammed </td> 
		<td align="center" > abcd      </td> 
		<td align="center" ><input type="Submit" value = "Accept"> <input type="Submit" value = "Reject"></td>
	</tr>
	
</table>

<br>
 
<p> <i> This page List all the Theaters. </i> </p>

<hr>
<a href="http://localhost:3000/">HOME</a>
</body>
</html>