<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Dungeons & Dragons Helper Site</a>
    </div>
    </div>
  </div>
</nav>